body {
  background-color: rgba(11, 11, 243, 0.877);
}
h3 {
  text-align: center;
}
.border {
  border: 1px black solid;
}

ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.hide {
  display: none;
}

.hero-text-desktop {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.65;
}
.hero-text-mobile {
  text-align: center;
  position: absolute;
  top: 7%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.65;
}
.fig-mobile {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 3px;
  font-size: 15px;
}
